body {
    font-family:Arial;
    background: skyblue;
    text-align: center;

}
input, select, button {
    margin:8px;
    padding: 8px;
    width: 80%;

}
button {
    background: red;
    color: white;
    border: none;

}